.footer {
  background-color: var(--black);
  color: #fff;
  padding: 10px;
}
.footer-logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: block;
  margin-bottom: 40px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right img {
  display: none;
}
.footer-icons {
  display: flex;
  gap: 20px;
}
.footer-top li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.footer-top li:hover {
  text-decoration: underline;
}
.footer ul {
  list-style: none;
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 40px;
}
.footer-bottom ul {
  text-align: left;
  gap: 10px;
}
.footer-bottom img {
  width: 60px;
  height: 60px;
}
.footer-bottom li {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.6;
}
.footer-bottom li:hover {
  opacity: 1;
}
@media (min-width: 678px) {
  .footer {
    padding: 20px;
  }
  .footer-top ul {
    width: calc((((100vw - 40px) / 3) * 2) - 20px);
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-bottom ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .footer-bottom img {
    display: none;
  }
  .footer-right img {
    display: block;
    margin-left: auto;
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 40px;
  }
  .footer-logo {
    margin-bottom: 40px;
  }
  .footer-top ul {
    width: calc(((100vw - 190px) / 2) + 30px);
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer h3 {
    width: 70%;
  }
  .footer .h3{
    width: 70%;
  }
  .footer-right img {
    position: relative;
    top: 100%;
    margin-top: 0;
  }
}
@media (min-width: 1600px) {
  .footer {
    padding: 60px 80px;
  }
  .footer-top ul {
    width: calc(((100vw - 300px) / 2) + 40px);
    box-sizing: border-box;
  }
}
